# TSV File Names to upload to Neo4J
FILE_TSV_TAXONOMY=aadata/kbasetaxonomy.tsv
FILE_TSV_GO=aadata/processed/go.tsv
FILE_TSV_FEATURES=aadata/kbasegenes_oma_col.tsv
FILE_TSV_FEATURE_SEQUENCES=aadata/processed/oma-seqs.tsv
FILE_TSV_ORTHOLOGOUS_GROUPS=aadata/kbaseorthgroups_oma.tsv
FILE_TSV_FEATURE_2_ORTHOLOGS=aadata/processed/kbaseorthologs_oma.tsv